<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <%= link_to "ロゴ", root_path, class: "navbar-brand" %>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="ナビゲーションの切り替え"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "TOP", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">マイページ</a>
          </li>
          <li class="nav-item">
           <%= form_with url: destroy_user_session_path, method: :delete, local: true, class: "logout-form" do %>
           <%= submit_tag "ログアウト", class: "nav-link logout-link" %>
           <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "TOP", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<style>
.navbar {
  padding: 1.5rem 1.5rem; 
}
</style>